@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Resume */

#developer {
  border-right: 2px solid #DEDE83;
  color: #DEDE83;
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  overflow: hidden;
}

@media (max-width: 1279px) {
  #developer {
    font-size: 3.5rem;
  }
}

#developer {
  animation: blinkCursor 500ms steps(30) infinite normal, typing 4s steps(30) 1s normal both;
}


@keyframes blinkCursor {
  from{
  border-color: #DEDE83;
  }
  to{
  border-right-color: transparent;
  }
}

@keyframes typing {
  from{
  width: 0;
  }
  to{
  width: 5em;
  }
}




.box{
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 1279px) {
  .box {
    display: none;
  }
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #DEDE83;
	border-right: 2px solid #DEDE83;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

/* fim resume */


/* About */

#p-sobre {
  text-align: center;
  width: 700px;
  color: wheat;
  gap: 2rem;
  margin-top: 50px;
}

@media (max-width: 720px) {
  #p-sobre {
    width: 350px;
  }
}

/* fim About */


/* Projects */


.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  margin-left: 9px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: wheat;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
}

.image__overlay {
  opacity: 0;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--solid {
  background: #c51f5d;
}

.image__title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 0 0 0.5rem;
}


.image__description {
  font-size: 25px;
  text-align: center;
}

.volkan {
  color: #fff;
  font-size: small;
  opacity: 0.7;
  text-decoration: none;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* fim Projects */


/* efeito smooth */


.body {
  scroll-behavior: smooth;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.three {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  animation-delay: 700ms;
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}






.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* fim /* efeito smooth */


/* Contato */


.local {
  color: wheat;
  opacity: 0.5;
}


/* fim Contato */

/* barra scrol */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

body::-webkit-scrollbar-thumb {
  background-color: #DEDE83; 
  border-radius: 20px;       
}
/* fim barra scrol */


/*Floating Back-To-Top Button*/
#myBtn {
  position: fixed;
  bottom: 50px;
  color: #fff;
  border-color: rgba(85, 85, 85, 0.2);
  box-shadow: 0 0px 25px 10px rgba(0, 0, 0, 0.7);
  padding: .5px;
  border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
  color: #DEDE83;
}
